<div class='container'>
  <h1 class='mt-5'>{{titleLogin}}</h1>
  <h1 class='mt-5'>{{session}}</h1>
  <hr />
  <div class='mt-5 row justify-content-center'>
    {{#if user}}
      <h1 class='alert alert-success' role='alert'>{{messageLogin}}
        {{user}}</h1>
      {{#if isLogin}}
          <button
            class='btn btn-info'
            name='user'
            value={{user}}
            onclick="location.href='/login'"
          >{{buttonLogout}}</button>
      {{/if}}
    {{/if}}
  </div>
</div>