<div class="container">
  <h1 class="mt-5"> {{titleTable}} </h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody id="contentTable">
      <tr>
        <th scope="row"> {{id}} </th>
        <td> {{title}} </td>
        <td> {{price}} </td>
        <td><img src={{thumbnail}} /></td>
      </tr>
    </tbody>
  </table>
</div>
